GameRun {
    layout: grid;
    grid-size: 1 3;
    grid-rows: 10% 80% 10%
}

GameGrid {
    layout: grid;
    grid-size: 7 6;
}

ButtonGrid {
    layout: grid;
    grid-size: 7 1;
}

LogModal {
    align: center middle;
}

GameStatus {
    align: center middle;
    content-align: center middle;
}

#logmodal {
    width: 80%;
    height: 80%;
    padding: 1 2;
    border: $secondary tall;
    content-align: center middle;
}

.box {
    height: 100%;
    border: solid green;
}

Cell {
    height: 100%;
    width: 100%;
    border: solid red;
}

Cell.red {
    background: red;
}

Cell.blue {
    background: blue;
}

ColumnButton {
    height: 100%;
    width: 100%;
    border: solid blue;
}

#input_box {
    dock: bottom;
    height: auto;
    width: 100%;
    margin: 0 0 2 0;
    align_horizontal: center;
}

#message_input {
    width: 50%;
    background: #343a40;
}

#send_button {
    width: auto;
}
